# **INTRODUCTION TO PANDAS**
<i>Prepared by `Myrtlle Gem L. Orano`</i>

## ***Definition of Terms***

### **<u>Pandas</u>**

1. **`Pandas`** 
    - essential Python library used to Python library used for data manipulation and analysis. 
    - well-known for its two main data structures: **Series** (1D) and **DataFrame** (2D). 
    - perform various operations like filtering, grouping, merging, and more.

**Basic usage:**
- **Importing Pandas**: You can import Pandas using import pandas as pd.
- **Creating a DataFrame**: DataFrames can be created from dictionaries, lists, or external files (e.g., CSV, Excel).

## ***Install and Import Pandas***

In [1]:
# First step, to make use that pandas is install properly
%pip install pandas

Requirement already satisfied: pandas in c:\users\huawei\appdata\local\programs\python\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\huawei\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\huawei\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\huawei\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\huawei\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\huawei\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
# Next, import the pandas library. Note, you have already imported it at the top cell, you can use it within the same file.
import pandas as pd

## ***Series***

- a pandas `Series` is a one-dimensional (1D) labeled array capable of holding data of any type (integer, string, float, etc.). 
- similar to a one-column table or an array with associated labels, providing powerful indexing and manipulation capabilities in Python.

In [4]:
# Create your first pandas Series
pd_series = pd.Series([1, 2, 3, 4, 5])
print("Our first pandas Series: ")
pd_series

Our first pandas Series:

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
# Series can also store multiple values of different datatypes
pd_series2 = pd.Series([1, "Test", 6.2, True])
pd_series2

0       1
1    Test
2     6.2
3    True
dtype: object

## ***DataFrames***

- `DataFrames` are two-dimensional (2D) labeled data structure with columns of potentially different data types, similar to a spreadsheet or SQL table. 
- provides a powerful and flexible way to manipulate and analyze structured data in Python, offering functionalities for data analysis.

In [16]:
# To create an Empty DataFrame
df = pd.DataFrame()

# Creating a DataFrame using a list of lists
# data = [["Carlo", "Single"], ["Kim", "Available"], ["Gian", "Single"], ["Gawala", "Engage"], ["Caloy", "Rich Tito"]]
# df = pd.DataFrame(data, columns=["Names", "Status"])


# Create a DataFrame using dictionaries
# data1 = {
#     "Skills" : ["Programmer", "Vlogger", "Vlogger", "Doctor", "Artist"],
#     "Nickname" : ["Alising", "Kwentaka", "Caught on Cam", "Romeo", "Juliet"]
# }
# df = pd.DataFrame(data1)


# Create a DataFrame using Dictionaries within a List 
data2 = [
    {
        "Address": "Balilihan", "Hobbies" : "Dota", "Education" : "Graduate"
    },
    {
        "Address": "Tubigon", "Hobbies" : "Vlogger", "Mood" : "Matamlay"
    },
    {
        "Address": "Tubigon", "Hobbies" : "Vlogger"
    },
    {
        "Address": "BJMP", "Hobbies" : "Dota/Y8"
    },
    {
        "Address": "Cortes", "Hobbies" : "Singer"
    }
]
df = pd.DataFrame(data2)

# Display the dataframe
df

     Address  Hobbies Education      Mood
0  Balilihan     Dota  Graduate       NaN
1    Tubigon  Vlogger       NaN  Matamlay
2    Tubigon  Vlogger       NaN       NaN
3       BJMP  Dota/Y8       NaN       NaN
4     Cortes   Singer       NaN       NaN

## ***Pandas DataTypes***

### __Numeric__

1. `Integer` (int64): Represents whole numbers (e.g., 10, -5). This is the default integer type in pandas.

In [17]:
# Practice with Integers (dtype: int64)
int_series = pd.Series([1, 5, -1, -5])
int_series

0    1
1    5
2   -1
3   -5
dtype: int64

2. `Float` (float64): Represents numbers with decimals (e.g., 3.14, -12.5).

In [18]:
# Practice with Float (dtype: float64)
float_series = pd.Series([1.2, 2.3, -3.4, -4.5])
float_series

0    1.2
1    2.3
2   -3.4
3   -4.5
dtype: float64

3. `Boolean` (bool): Represents logical True or False values.

In [19]:
# Practice with Boolean (dtype: bool)
bool_series = pd.Series([True, False])
bool_series

0     True
1    False
dtype: bool

4. `String` (string): list of character(s) that may be clustered to form a coherent text.

In [20]:
# Practice with String (dtype: string)
bool_series = pd.Series(["Hello", "World"])
bool_series

0    Hello
1    World
dtype: object

5. `Object`: This is a versatile but less efficient type that can store various data types like strings, lists, or custom objects. Pandas uses this type when it cannot infer a more specific data type.

In [21]:
# Practice with Object (dtype: object)
obj_series = pd.Series([1, 2, "a", "b", 6.2, True])
obj_series

0       1
1       2
2       a
3       b
4     6.2
5    True
dtype: object

### __Specialized Data Types__

1. `Datetime` (datetime64[ns]): Represents dates and times with nanosecond precision. Useful for time-series data analysis.

In [22]:
# Practice with Datetime
pd.to_datetime("2024-07-29 15:30:11")

# Datetime Series
datatime_series = pd.Series([pd.to_datetime("2024-07-29"), pd.to_datetime("2023-06-30"), pd.to_datetime("2022-05-27")])
datatime_series

0   2024-07-29
1   2023-06-30
2   2022-05-27
dtype: datetime64[ns]

2. `Timedelta` (timedelta64[ns]): Represents durations between timestamps.

In [25]:
# Pratice with Timedelta
# can be use like a countdown
pd.Timedelta(weeks=7, days=8, hours=3, minutes=40, seconds=61)

# Timedelta Series
timedelta_series = pd.Series([pd.Timedelta(days=8, hours=3, minutes=40), pd.Timedelta(days=6, hours=2, minutes=35)])
timedelta_series

0   8 days 03:40:00
1   6 days 02:35:00
dtype: timedelta64[ns]

3. `Categorical`: Represents categorical data with predefined categories. Efficient for storing limited sets of categories.

In [28]:
# Practice with Categorical (category)
valid_List = pd.Categorical(["Sales", "IT", "Operations", "HR"])
valid_List

# Categorical Series
category_series = pd.Series(pd.Categorical(["Sales", "IT", "Operations", "HR"]))
category_series

0         Sales
1            IT
2    Operations
3            HR
dtype: category
Categories (4, object): ['HR', 'IT', 'Operations', 'Sales']

4. `Sparse`: Represents sparse data with many missing values. Stores data efficiently by only keeping non-zero values.

In [30]:
# Practice with Sparse
# When there is a missing data in the array
sparse_series = pd.Series(pd.arrays.SparseArray([1, 2, pd.NA, 4, pd.NA, 6, pd.NA, 8]))
sparse_series

0      1
1      2
2    NaN
3      4
4    NaN
5      6
6    NaN
7      8
dtype: Sparse[object, nan]

## ***Changing DataTypes***

In [31]:
# Step 1: Check for the datatype
int_series

0    1
1    5
2   -1
3   -5
dtype: int64

In [26]:
# Step 2: Change datatype of columns to float
int_series = int_series.astype('float64')
int_series.dtype

dtype('float64')

In [27]:
# Step 3: Run the series
int_series

0    1.0
1    5.0
2   -1.0
3   -5.0
dtype: float64

In [28]:
# Example: Changing from float to str
float_series = float_series.astype('string')
float_series

0     1.2
1     2.3
2    -3.4
3    -4.5
dtype: string

## ***Data Selection***

Pandas provides numerous methods for selecting and indexing data in Series and DataFrames, including label-based indexing with `.loc`, integer-position based indexing with `.iloc`, and conditional selection.

### 1. __Create a DataFrame__

In [38]:
data = {
    'Product Name' : ['A','B','C','A','B','A'],
    'Quantity Sold' : [3,2,5,4,1,2],
    'Sale Price' : [10,20,10,15,20,15]
}

sales_dataframe = pd.DataFrame(data)
sales_dataframe

  Product Name  Quantity Sold  Sale Price
0            A              3          10
1            B              2          20
2            C              5          10
3            A              4          15
4            B              1          20
5            A              2          15

### 2. __Data Selection in Series__

Note: To do this, it should follow the format

    dataframe_name[here is the specific column name][do slicing here]

In [39]:
# AIM: check the first two rows for product name
# [start(included): end(excluded): step]
sales_dataframe['Product Name'][0:2]

0    A
1    B
Name: Product Name, dtype: object

In [40]:
# Check the Quantity Sold 
sales_dataframe['Quantity Sold'][2:5]

2    5
3    4
4    1
Name: Quantity Sold, dtype: int64

In [ ]:
# Display data with skips
sales_dataframe['Quantity Sold'][::2]

### 3. __Data Selection in DataFrames__

#### `Index Location` (.iloc)

- will get rows based on a number/index.
- will output into a DataFrame instead of a Series.
- Stands for: Integer Location
- Type of Indexing: Integer-based indexing
- Usage: Used to select rows and columns by their integer positions.

In [43]:
data = {
    'Product Name' : ['A','B','C','A','B','A'],
    'Quantity Sold' : [3,2,5,4,1,2],
    'Sale Price' : [10,20,10,15,20,15]
}

sales_dataframe = pd.DataFrame(data)
sales_dataframe

  Product Name  Quantity Sold  Sale Price
0            A              3          10
1            B              2          20
2            C              5          10
3            A              4          15
4            B              1          20
5            A              2          15

In [44]:
# Turn the first 3 rows into a new dataframe
sales_dataframe.iloc[0:3]

  Product Name  Quantity Sold  Sale Price
0            A              3          10
1            B              2          20
2            C              5          10

In [52]:
sales_dataframe.iloc[1:24:2]

  Product Name  Quantity Sold  Sale Price
1            B              2          20
3            A              4          15
5            A              2          15

#### `Location` (.loc)

- Access a group of rows and columns by label(s) or a boolean array.
- Stands for: Label Location
- Type of Indexing: Label-based indexing
- Usage: Used to select rows and columns by their labels or boolean arrays.

Note: `[start (included) : end (included)]`

In [56]:
# Getting specific columns
# List [starting index(assume that you will start at the top):ending index(assume you will stop at the end):skip/steps]
sales_dataframe.loc[:2, ['Product Name', 'Sale Price']]

  Product Name  Sale Price
0            A          10
1            B          20
2            C          10

In [58]:
sales_dataframe.loc[1:5:2, ['Product Name']]

  Product Name
1            B
3            A
5            A

## ***Pandas Operator***

### __Data Loading and Exploration__

In [59]:
# Step 1: Create the dataframe
reviews_data = {
    'ProductID': ['P1','P2','P3','P4','P5','P6','P7','P8','P9','P10'],
    'Rating': [5,3,2,1,4,3,2,4,6,1]
}

reviews_df = pd.DataFrame(reviews_data)
reviews_df

  ProductID  Rating
0        P1       5
1        P2       3
2        P3       2
3        P4       1
4        P5       4
5        P6       3
6        P7       2
7        P8       4
8        P9       6
9       P10       1

1. `head()`: Shows the first few rows of a DataFrame. Note, the default number of rows is 5.

In [61]:
# Returns the first 3 rows 
reviews_df.head(4)

  ProductID  Rating
0        P1       5
1        P2       3
2        P3       2
3        P4       1

2. `tail()`: Shows the last few rows of a DataFrame. Note, the default number of rows is 5.

In [63]:
# Returns the last 3 rows 
reviews_df.tail(1)

  ProductID  Rating
9       P10       1

3. `describe()`: Generates summary statistics for each column (mean, standard deviation, etc.)

In [65]:
# Gives use the counts, mean, std, min, max, percentiles
reviews_df.describe()
reviews_df.describe(percentiles=[0.4, 0.6])

         Rating
count  10.00000
mean    3.10000
std     1.66333
min     1.00000
40%     2.60000
50%     3.00000
60%     3.40000
max     6.00000

4. `info()`: Displays information about the DataFrame, including data types and memory usage

In [66]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ProductID  10 non-null     object
 1   Rating     10 non-null     int64
dtypes: int64(1), object(1)
memory usage: 292.0+ bytes

### __Data Analysis__

1. `sum()`: Calculates the sum of a Series or DataFrame

In [67]:
# Practice with sum()
reviews_df['Rating'].sum()

31

2. `mean()`: Calculates the mean of a Series or DataFrame

In [68]:
# Practice with mean()
reviews_df['Rating'].mean()

3.1

3. `median()`: Calculates the median of a Series or DataFrame

In [69]:
# Practice with median()
reviews_df['Rating'].median()

3.0

4. `std()`: Calculates the standard deviation of a Series or DataFrame. Measures how far apart are the data from the mean. The lesser the std, the better, means that the data are more reliable

In [70]:
# Practice with std()
reviews_df['Rating'].std()

1.66332999331662

5. `var()`: Calculates the variance of a Series or DataFrame

In [71]:
# Practice with var()
reviews_df['Rating'].var()

2.766666666666667

## ***Import and Export Data***

Pandas supports reading from and writing to a variety of file formats, including CSV, Excel, SQL, making it easy to integrate with data analysis workflows.

In [72]:
# Present data from csv to dataframe
example_df = pd.read_csv('example.csv')
example_df

          A    B     C
0  1.000000  5.0  10.0
1  2.000000  6.5  11.0
2  2.333333  6.5  12.0
3  4.000000  8.0  11.0

In [73]:
# Exporting from dataframe to csv file
# index=False is omitted for readability
example_df.to_csv('exported_data.csv', index=False)

When you try to import/export excel files from vscode

`%pip install openpyxl`

## ***Apply Function***

The `apply function` in pandas is a powerful tool for working with DataFrames. It allows you to apply a custom function to each element (row or column) of the DataFrame and return a new DataFrame or Series based on the results. 

`df.apply(func, axis=0, raw=False, result_type=None, args=())`

Parameters:

- `func`: This is the function you want to apply. It can be a built-in function, a user-defined function, or a lambda function. The function typically takes a pandas Series (representing a row or column) as input and returns a value.

- `axis` (optional): This specifies whether to apply the function to each row (axis=0, default) or each column (axis=1).

- `raw` (optional): If set to True, the function receives the raw data (e.g., NumPy arrays) instead of pandas Series objects. This is less common for most use cases.

- `result_type` (optional): This specifies the desired output data type for the resulting DataFrame or Series.

- `args` (optional): This allows you to pass additional arguments to the func function.

In [74]:
# Step 1: Creating a DataFrame
data = {
    "Names" : ["Casey", "Paolo", "Erwin"],
    "Age": [25, 30, 22]
}

data_df = pd.DataFrame(data)
data_df

   Names  Age
0  Casey   25
1  Paolo   30
2  Erwin   22

In [75]:
# Step 2: Create a function that squares the value
def square(x):
    return x**2

In [77]:
# Step 3: Use the Apply function
data_df["Age Squared"] = data_df["Age"].apply(square)
data_df

   Names  Age  Age Squared
0  Casey  625          625
1  Paolo  900          900
2  Erwin  484          484

In [79]:
# Explore more with a function that filters values
def below500(age):
    return age < 500

In [82]:
# Add conditional Filtering 
filtered_data_df = data_df[data_df['Age'].apply(below500)]
filtered_data_df

   Names  Age  Age Squared
2  Erwin  484          484