# **PYTHON FUNDAMENTALS**
<i>Prepared by `Myrtlle Gem L. Orano`</i>

## **I. <u>Introduction to Python</u>**

`Computer programming` is the act of composing the selected programming language's elements in the order that will cause the desired effect. The effect could be different in every specific case â€“ it's up to the programmer's imagination, knowledge and experience.

Of course, such a composition has to be correct in many senses:
- `alphabetically` - a program needs to be written in a recognizable script, such as Roman, Cyrillic, etc.
- `lexically` - each programming language has its dictionary and you need to master it; thankfully, it's much simpler and smaller than the dictionary of any natural language;
- `syntactically` - each language has its rules and they must be obeyed;
- `semantically` - the program has to make sense.

`Compilation` is a process where a source program is translated into a machine code file, which can be distributed worldwide, and must be repeated each time modifications are made.

`Interpretation` involves translating the source program each time it's executed, a process called 'translation'. The interpreter interprets the code, ensuring it's not distributed as-is, as the end-user also needs it.

`Python` is a powerful and open-source programming language useful for developing software across multiple operating systems. It is object-oriented and provides a simple, easy-to-read, and user-friendly language, which enhances creativity.

*<u>Advantages of Python</u>*
- this is a high-level programming language. Its syntax are near to human understanding or readable. 
- this uses an interpreter. 
- this has dynamic typing. 
- this follows the principle of OOP. 
- open source.

In [1]:
var1 = 1
var2 = -2.4
var3 = "String"

print(type(var1))
print(type(var2))
print(type(var3))

<class 'int'>
<class 'float'>
<class 'str'>

## **II. <u>Basic Elements of Python</u>**

### **1. *Variables***

`Variables` -> this is your container for data. Mostly, they hold temporary data, that you may update depending on the flow of you program. 

Note: 
- Variable name is essetial, so it should be descriptive.
- It may start with lowcaps or a uppercap alphabet character. It could also start with a symbol. 
- BUT, it should not start with a number.
- Variable naming are case sensitive. Apple and apple are not the same.

In [ ]:
# Example for variables
var1 = 1
print("Var 1 value is ", var1)
print("Its data type is", type(var1))

var1_2 = -2.4
print("Var 1 value is ", var1_2)
print("Its data type is", type(var1_2))

# These variables are not the same
Var1 = 2
var1 = 5
print("Var1 is", Var1, "while var1 is", var1)

Var 1 value is  1
Its data type is <class 'int'>
Var 1 value is  -2.4
Its data type is <class 'float'>
Var1 is 2 while var1 is 5

### **2. *Data Types***

#### **i. Numeric Data Types**

1. `int` -> whole numbers, either positive or negative (e.g., 100, 5, -3, 1000).

In [5]:
# Example for int
num1 = 4
num2 = -5
print("num1 and num2: ", num1, num2)
print("Type of num1: ", type(num1))
print("Type of num2: ", type(num2))

num1 and num2:  4 -5
Type of num1:  <class 'int'>
Type of num2:  <class 'int'>

2. `float` -> numbers representing decimal numbers (e.g., 3.14, -0.1, 2.0).

In [6]:
# Example for float
num3 = -4.56
num4 = 8.42
print("num3 and num4: ", num3, num4)
print("Type of num3: ", type(num3))
print("Type of num4: ", type(num4))

num3 and num4:  -4.56 8.42
Type of num3:  <class 'float'>
Type of num4:  <class 'float'>

3. `complex` -> also known as expressions, with combination of numbers and variables (e.g., 3 + 4j).

In [7]:
# Example of complex
results = 15 + 2 * num4
print("results: ", results)
print("Type of results: ", type(results))

results:  31.84
Type of results:  <class 'float'>

#### **ii. Sequence Data Types**

1. `str` -> collections of characters. This could be in text or sentences. Strings can be enclosed within single (''), double (""), or triple ("""""") quotation marks. Strings are not mutable, meaning, they cannot be updated/changed.

In [8]:
# Ecample of str
myDog = "Brownie"
myCat = "Miming"
print("My dog's name is ", myDog)
print("My cat's name is ", myCat)
print(type(myCat))

My dog's name is  Brownie
My cat's name is  Miming
<class 'str'>

2. `list` -> is a versatile data structure in python. It will allow you to save/store multiple data of different types. This is mutable, meaning it can be changed.

In [9]:
# Example of list
myHobbies = ["reading", "walking", "sleeping"]
favNumbers = [1, 8, 11, 18]
mixElements = ["A", "mix of", 1, 3.2, -10, True]
print("My Hobbies: ", myHobbies)
print("My Favorite Numbers: ", favNumbers)
print("Random Examples: ", mixElements)
print(type(mixElements))

My Hobbies:  ['reading', 'walking', 'sleeping']
My Favorite Numbers:  [1, 8, 11, 18]
Random Examples:  ['A', 'mix of', 1, 3.2, -10, True]
<class 'list'>

3. `array` -> this stores only a homogeneous group of data, meaning, they should be of the same datatype. To use this, you have to import the array library, which will provide an array module for you to use. Use the **import** keyword followed by **array** to access this library.

In [10]:
# Example of array
import array

myArray = array.array("i", [1, -2, 3, -4, 5]) 
print("My array: ", myArray)

My array:  array('i', [1, -2, 3, -4, 5])

4. `tuple` -> fixed collection of elements or immutable sequence of elements (unchangeable); enclosed in () (e.g., ("Emman", "Nanay", "Tatay"), etc).

In [ ]:
# Example of list
myHobbies = ("reading", "walking", "sleeping", 1)
print("My Hobbies: ", myHobbies)

# Uncomment at your own risk
# myHobbies[1] = "Swimming"
print("My Hobbies: ", myHobbies[1])

My Hobbies:  ('reading', 'walking', 'sleeping', 1)

TypeError: 'tuple' object does not support item assignment

5. `set` -> a collection of unique, unordered elements. Sets are defined using curly braces {} or the set() function.

In [19]:
# Example of a set using curly braces
fruits = {"apple", "banana", "cherry", "apple"}
print(fruits) 

# Example of a set using the set() function
numbers = set([1, 2, 3, 4])
print(numbers)

{'apple', 'cherry', 'banana'}
{1, 2, 3, 4}

#### **iii. Mapping Data Types**

1. `dict` -> dictionaries enclosed in {}, are key-value pair; has a key and the associated value in it (e.g., {"key": "value"}).

In [20]:
# Example of dict
person = {"name" : "Alice", 
          "age" : 25}
print(f"Person 1: {person}")
print("Person1 is ", person)

Person 1: {'name': 'Alice', 'age': 25}
Person1 is  {'name': 'Alice', 'age': 25}

#### **iv. Boolean Types**

1. `bool` -> boolean values that return true or false.

In [22]:
# Example of bool
isSunny = True
isRainy = False
print("Is it sunny? ", isSunny)
print("Is is rainy? ", isRainy)
print(type(isSunny))

Is it sunny?  True
Is is rainy?  False
<class 'bool'>

### **3. *Input***

`input()` -> a function that reads a line of text entered by the user and always returns it as a string.

In [24]:
# Example of input()

name = input("Enter your name: ")
print("Your name is ", name)
print(type(name))

num = input("Enter a number: ")
print(num)
print(type(num))

Your name is  Mark
<class 'str'>
3
<class 'str'>

#### **i. Implicit Type Conversion**
Python automatically converts one data type to another when it is safe to do so. For example:

In [25]:
num_int = 10
print(type(num_int))
# num_float = num_int + 2.5
# print(type(num_float))
result = num_int / 5
print(result)
print(type(result))

<class 'int'>
2.0
<class 'float'>

#### **ii. Explicit Type Conversion**
Manual conversion of data types using built-in functions like int(), float(), str(), list(), etc. For example:

In [ ]:
# Example of int to str
num = 123
num2 = -1.3
num_str = str(num)
print(type(num_str))

In [ ]:
# Example of str to int
num_str = "456"
num_int = int(num_str)
print(type(num_int))

In [26]:
# Example of list to tuple
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print(type(my_tuple))

<class 'tuple'>

In [27]:
# Example of str to float
num_str = "3.14"
num_float = float(num_str)
print(type(num_float))

<class 'float'>

### **4. *Output***

`print()` -> a function for displaying output. This function prints objects or text to the standard output (console) and can accept multiple arguments (e.g., **<u>sep</u>** and **<u>end</u>**).

In [28]:
# Example of printing with separator (sep)
print("Name:", "Honey ", "Age:", 25, sep = " | ")

# Example of printing with end character
print("Goodbye, for now ", end = "...")

Name: | Honey  | Age: | 25
Goodbye, for now ...

## **III. <u>Python Operations and Expressions</u>**

### **1. *Operators***
`Operators` are special symbols used to carry out logical and arithmetic operations.

#### **i. Arithmetic Operators**
- `Addition` (+): Adds two operands.
- `Subtraction` (-): Subtracts the second operand from the first.
- `Multiplication` (*): Multiplies two operands.
- `Division` (/): Divides the first operand by the second.
- `Exponents` (**): "power"
- `Modulo` (%): It returns the remainder.
- `PEMDAS` or `BOMDAS` Example: a + b * (a - b + (a * b) / b)

In [ ]:
# Addition (+) 
print("Sum: ", 5 + 10)

# Subtraction (-)
print("Difference: ", 5 - 10)

#  Multuplication (*)
print("Product: ", 5 * 10)

# Division (/)
print("Quotient: ", 5 / 10)

# Modulus (%)
print("Remainders: ", 10 % 3)

# Exponents (**)
print("Squared: ", 2**2)

#### **ii. Comparison Operators**
- `Equal to` (==): Checks if two operands are equal.
- `Not equal to` (!=): Checks if two operands are not equal.
- `Greater than` (>): Checks if the first operand is greater than the second.
- `Less than` (<): Checks if the first operand is less than the second.

In [29]:
x = 10
y = 5

# Equal to (==)
"""
one equal sign -> assigning a value
two equal signs -> comparing the values of two variables
"""
print("x and y are equal: ", x == y)

# Not Equal to (!=)
print("x and y are not equal: ", x != y)

# Greater than (>)
print("x is greater than y: ", x > y)

# Greater than or Equal to (>=)
print("x is greater than or equal to y: ", x >= y)

# Lesser than (<)s
print("x is less than y: ", x < y)

# Lesser than or Equal to (<=)
print("x is less than or equal to y: ", x <= y)

x and y are equal:  False
x and y are not equal:  True
x is greater than y:  True
x is greater than or equal to y:  True
x is less than y:  False
x is less than or equal to y:  False

#### **iii. Logical Operators**
- `AND` (and): Returns True if both statements are true.
- `OR` (or): Returns True if one of the statements is true.
- `NOT` (not): Reverses the result, returns False if the result is true.

In [30]:
x = 10
y = 5

# AND (and): returns True when all conditions are True, else False
print("The logic is: ", (x > 5) and (y < 5))

# Or (or): returns True for at least one True in the condition
print("The logic is: ", (x > 5) or (y < 5))

# Not (not): invert or the reverse of the value or the condition
print("The logic is: ", not(x == 10))

The logic is:  False
The logic is:  True
The logic is:  False

#### **iv. Assignment Operators**

In [31]:
x = 10
print("Current value of x: ", x)

# Addition Assignment
# x = x + 5 -> x += 5
x += 5
print("New value of x: ", x)

# Subtraction Assignment
# x = x - 5 -> x -= 5
x -= 5
print("New value of x: ", x)

# Multiplication Assignment
# x = x * 5 -> x *= 5
x *= 5
print("New value of x: ", x)

# Division Assignment
# x = x / 5 -> x /= 5
x /= 5
print("New value of x: ", x)

Current value of x:  10
New value of x:  15
New value of x:  10
New value of x:  50
New value of x:  10.0

### **2. *Operands***
`Operands` are the values or variables upon which operators perform their operations. For instance, in the expression a + b, a and b are operands, and + is the 
operator.

### **3. *Expression***
`Expression` is a combination of operators and operands that is interpreted to produce a value.

#### **i. Constant Expressions**
`Constant Expressions` â€“ the expressions that have constant values only.

In [32]:
x = 3.14 + 2
print(x)

5.140000000000001

#### **ii. Arithmetic Expressions**
`Arithmetic Expressions` â€“ involve arithmetic operators and produce numerical results.

In [33]:
x = 5
y = 10

z = (x + y) * y / x
print(z)

30.0

#### **iii.	Relational Expressions**
`Relational Expressions` â€“ compare values and produce Boolean results (True or False).

In [34]:
x = 5
y = 10

print(x <= y)

True

#### **iv. Logical Expressions**
`Logical Expressions` â€“ combine multiple conditions and produce Boolean results.

In [35]:
x = True

print(not x)

False

#### **v. Bitwise Expressions**
`Bitwise Expressions` â€“ computations are performed at the bit level.

In [36]:
a = 12

a = a << 2

print(a)

48

#### **vi. Compound Expressions**
`Compound Expressions` â€“ a combination of multiple types of expressions.

In [ ]:
a = 5
b = 10
c = 2

print(a < b and c != (a + b))

## **IV. <u>Types of Python Statements</u>**

#### **1. *Simple Statements*** 
`Simple Statements` â€“ composed of a single logical line. They may occur singly or in several statements in one line.

In [ ]:
print(x)

#### **2. *Assignment Statements***
`Assignment Statements` â€“ used when names are assigned to values, and when you want to modify mutable (can be changed) objects.

In [71]:
myname = "apple"

#### **3. *Expression Statements***
`Expression Statements` â€“ generally used for computations and for evaluating an expression list. They are also useful in writing values.

In [72]:
sum = 3 + 9

#### **4. *import Statements***
`import Statements` â€“ used to import files, functions or modules. Python has packages (directories) containing modules (files).

In [73]:
import matplotlib

#### **5. *continue Statement***
`continue Statement` â€“ indicates that a statement, usually a loop, continues with the next loop.

In [ ]:
a = 1

while (True):
    if(a == 1):
        continue

#### **6. *break Statement***
`break Statement` â€“ they â€˜breakâ€™ the nearest enclosing loop and resume execution on the next statement. But the loop will finally â€˜breakâ€™ when the â€˜tryâ€™ statement and the â€˜finallyâ€™ clause are executed.

In [ ]:
a = 3

while (True):
    print("Hi")
    if (a != 1):
        break

#### **7. *return Statement***
`return Statement` â€“ usually used in evaluating an expression list and exiting a function, operation, or method. There are two forms: the â€˜returnâ€™ and â€˜return expressionsâ€™.

In [76]:
def example():
    return "Happy"

## **V. <u>Built-in Functions</u>**

`Functions` -> there are two definitions of functions in python.

- inbuilt functions (e.g., input() or print()).
- defined functions that are created by a programmer. This functions are not within a class. They use the keyword **def** to define the function.

### **1. *Type Conversion Functions***
These functions convert data from one type to another.

1. `int()` â€“ converts a value to an integer.
2. `float()` â€“ converts a value to a floating-point number.
3. `str()` â€“ converts a value to a string.
4. `bool()` â€“ converts a value to a Boolean.

In [ ]:
# 1. Type Conversion Functions
# int()
x = "10"
y = int(x)
print(f"int('10'): {y}, type: {type(y)}")

# float()
x = "10.5"
y = float(x)
print(f"float('10.5'): {y}, type: {type(y)}")

# str()
x = 100
y = str(x)
print(f"str(100): {y}, type: {type(y)}")

# bool()
x = 0
y = bool(x)
print(f"bool(0): {y}, type: {type(y)}")

print("-" * 20)

### **2. *Mathematical Functions***
These functions perform various mathematical operations.
1. `abs()` â€“ returns the absolute value of a number.
2. `round()` â€“ rounds a number to the nearest integer.
3. `pow()` â€“ returns the value of a number raised to the power of another.

In [ ]:
# 2. Mathematical Functions
# abs()
x = -15
y = abs(x)
print(f"abs(-15): {y}")

# round()
x = 3.7
y = round(x)
print(f"round(3.7): {y}")

# pow()
x = 2
y = 3
z = pow(x, y)
print(f"pow(2, 3): {z}")

print("-" * 20)

### **3. *String Functions***
These functions perform operations on strings.
1. `len()` â€“ returns the length of a string.
2. `upper()` â€“ converts a string to uppercase.
3. `lower()` â€“ converts a string to lowercase.

In [ ]:
# 3. String Functions
# len()
s = "Python"
length = len(s)
print(f"len('Python'): {length}")

# upper()
s = "hello"
upper_s = s.upper()
print(f"'hello'.upper(): {upper_s}")

# lower()
s = "WORLD"
lower_s = s.lower()
print(f"'WORLD'.lower(): {lower_s}")

print("-" * 20)

### **4. *Utility Functions***
These functions perform miscellaneous operations.
1. `type()` â€“ returns the type of an object.
2. `print()` â€“ prints a value to the console.
3. `input()` â€“ reads a value from the console.

In [ ]:
# 4. Utility Functions
# type()
x = "Hello"
t = type(x)
print(f"type('Hello'): {t}")

# print()
print("This is an example of print()")

# input()
# Uncomment the following lines to test input()
user_input = input("Enter something: ")
print(f"You entered: {user_input}")

print("-" * 20)

### **5. *Sequence Functions***
These functions perform operations on sequences like lists, tuples, etc.
1. `min()` â€“ returns the smallest item in an iterable.
2. `max()` â€“ returns the largest item in an iterable.
3. `sum()` â€“ returns the sum of all items in an iterable.

In [ ]:
# 5. Sequence Functions
# min()
numbers = [10, 2, 5, 8]
min_val = min(numbers)
print(f"min([10, 2, 5, 8]): {min_val}")

# max()
numbers = [10, 2, 5, 8]
max_val = max(numbers)
print(f"max([10, 2, 5, 8]): {max_val}")

# sum()
numbers = [10, 2, 5, 8]
total_sum = sum(numbers)
print(f"sum([10, 2, 5, 8]): {total_sum}")

## **VI. <u>Creating My First Function in Python</u>**

In [ ]:
# Example of a function
def printingNames(name):
    print("Hello, ", name)
    
printingNames("John")

# Example of a recursive function
def fibo(n = 1):
    if n <= 1:
        return n
    else:
        return fibo(fibo(n-1) + fibo(n-2))

print("The value for fib or 0 is: ", fibo(3))

## **VII. <u>Commonly Used Methods in Python</u>**

`Methods` -> functions that are associated with objects. They provide a way to manipulate and interact with data stored in objects, such as strings, lists, and dictionaries.

### **1. *String Method***
1. `upper()` â€“ converts all characters in a string to uppercase.
2. `lower()` â€“ converts all characters in a string to lowercase.
3. `strip()` â€“ removes leading and trailing whitespace from a string.
4. `replace()` â€“ replaces a substring with another substring.
5. `split()` â€“ splits a string into a list using a specified delimiter.

In [ ]:
# upper()
text = "hello world"
upper_text = text.upper()
print(f"Original: '{text}' -> Uppercase: '{upper_text}'")

# lower()
text = "Hello World"
lower_text = text.lower()
print(f"Original: '{text}' -> Lowercase: '{lower_text}'")

# strip()
text = "  hello world  "
stripped_text = text.strip()
print(f"Original: '{text}' -> Stripped: '{stripped_text}'")

# replace()
text = "I like dogs."
new_text = text.replace("dogs", "cats")
print(f"Original: '{text}' -> Replaced: '{new_text}'")

# split()
text = "apple,banana,cherry"
fruits = text.split(',')
print(f"Original: '{text}' -> Split: {fruits}")

### **2. *List Method***
1. `append()` â€“ adds an element to the end of the list.
2. `remove()` â€“ removes the first occurrence of a specified element.
3. `pop()` â€“ removes and returns the element at the specified index
4. `sort()` â€“ sorts the list in ascending order.
5. `reverse()` â€“ reverses the order of the list.

In [ ]:
# append()
fruits = ["apple", "banana"]
fruits.append("cherry")
print(f"append(): {fruits}")

# remove()
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(f"remove(): {fruits}")

# pop()
fruits = ["apple", "banana", "cherry"]
popped_fruit = fruits.pop(1)
print(f"pop(): {fruits}, Popped item: '{popped_fruit}'")

# sort()
numbers = [3, 1, 4, 1, 5, 9]
numbers.sort()
print(f"sort(): {numbers}")

# reverse()
numbers = [1, 2, 3, 4]
numbers.reverse()
print(f"reverse(): {numbers}")

### **3. *Dictionary Methods***
1. `keys()` â€“ returns a view object that displays a list of all the keys.
2. `values()` â€“ returns a view object that displays a list of all the values.
3. `items()` â€“ returns a view object that displays a list of dictionaryâ€™s key-value tuple pairs
4. `update()` â€“ updates the dictionary with elements from another dictionary or an iterable of key-value pairs.
5. `get()` â€“ returns the value for the specified key if key is in dictionary.

In [ ]:
# keys()
student = {"name": "Alice", "age": 25, "major": "Computer Science"}
all_keys = student.keys()
print(f"keys(): {list(all_keys)}")

# values()
all_values = student.values()
print(f"values(): {list(all_values)}")

# items()
all_items = student.items()
print(f"items(): {list(all_items)}")

# update()
student_updates = {"age": 26, "gpa": 3.8}
student.update(student_updates)
print(f"update(): {student}")

# get()
major = student.get("major")
print(f"get('major'): {major}")
gpa = student.get("gpa", "N/A")  # Using a default value
print(f"get('gpa') with default: {gpa}")

## **VIII. <u>Creating a Python Class</u>**

In [ ]:
# Example of a Class, with methods, object, attributes
class Calculator:
    def __init__(self, a=1, b=2):
        self.a = a
        self.b = b

    def toAdd(self):
        return self.a + self.b

# Create an instance with default values
cal_default = Calculator()
print("The sum of the initialized a and b is: ", cal_default.toAdd())  # Output: 3

# Create an instance with specified values
cal_custom = Calculator(2, 3)
print("The sum of the set values for a and b is: ", cal_custom.toAdd())  # Output: 5